html{
	display: flex;
    justify-content: center;

}
body{
    background-image: url(http://www.fondosni.com/images/2013-03-28/Cara%20de%20mujer%20en%20fondo%20negro-651018.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}


#tabla{
      height: 50px; 
      width: 360px;
      border-color: black;
      font-size: 35px;
      background-color: white;
      text-align: right;
}
#tamaño1{
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
      text-align: center;
}
#tamaño2{
	 text-align: center;
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
}
#tamaño3{
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño4{
      color: white;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño5{
      color: white;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño6{
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño7{
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño8{
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño9{
      color: white;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
  	 text-align: center;
}
#tamaño10{
      color: white;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño11{
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño12{
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño13{
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño14{
      color: white;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño15{
      color: white;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño16{
      color: red;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño17{
      color: white;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
#tamaño18{
      color: white;
      height: 70px;
      width: 70px;
      font-size: 25px;
      border-color: black;
	 text-align: center;
}
